.slick-slide {
    background-color: #001A70;

    div {
        height: 300px;
    }

    h3 {
        color: #ffffff;
        text-align: center;
        font-size: 10em;
        margin-top: 40px;
        margin-bottom: 0;
        padding: 0;
        user-select: none;
    }

    .health-bar {
        text-align: center;
    }

    .health-icon {
        font-size: 40px;
        color: #eb2f96;
        margin-left: 5px;

        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;

        &.die {
            animation: die 1s 0s;
            opacity: 0;
        }

        @keyframes die {
            0% {
                // color: #eb2f96;
                opacity: 1;
                transform: scale(1.0);
            }
            15% {
                transform: scale(1.1);
            }
            30% {
                transform: scale(1.0);
            }
            50% {
                color: red;
                transform: scale(1.1);
            }
            75% {
                opacity: 1;
                transform: scale(1.0);
            }
            100% {
                color: red;
                opacity: 0;
                transform: scale(1.0)
            }
        }
    }
}